<a href="https://colab.research.google.com/github/thayonara9/estudos/blob/main/AT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Thayonara Barbosa 1A
#Atividade 1:
print('Olá, ETE Cícero Dias')

In [ ]:
#Atividade 2
numero = input("Escreva um numero: ")
print('o numero informado foi', numero)

In [ ]:
#Atividade 3
numero1 = int(input('digite um numero: '))
numero2 = int( input('digite outro numero: '))
resultado = numero1 + numero2
print (resultado)

In [ ]:
#Atividade 4
nota1 = int( input('Digite sua primeira nota: ') )
nota2 = int( input('Digite sua segunda nota: ') )
nota3 = int(input ('Digite sua terceira nota: ') )
nota4 = int(input ('Digite sua quarta nota: ') )
media_final = nota1 + nota2 + nota3 + nota4 /4

print('A média final é:', media_final)

In [ ]:
#Atividade 5
metro = float(input('insira um valor em metro que você deseja converter em centimetros: ')
centimetros = metro * 100
print('o valor', metro, 'm, convertido em centimetros é: ', centimetros)

In [ ]:
#Atividade 6
r = float(input('Raio do círculo: '))
area = 3.14 * (r ** 2)
print ('Área do círculo: ', area)

In [ ]:
#Atividade 7
l = float(input('Lado do quadrado em m: '))
area = l * l
print ('Dobro da area do quadrado: %.2f m2' %(area*2))

In [ ]:
#Atividade 8
valor_hora = float(input('Valor por hora: '))
horas_trabalhada = int(input('Horas trabalhadas no mês: '))
salario = valor_hora * horas_trabalhada
print('Salario: R$ ', salario)

In [ ]:
#Atividade 9
n = int(input('Digite um valor: '))

if n < 0:
    print('O valor digitado é negativo!')
else:
    print('O valor digitado é positivo!')

In [ ]:
#Atividade 10
sexo = input("Digite F para Feminino ou M para Masculino: ")
if sexo == "F" or sexo == "f":
    print("Feminino")
elif sexo == "M" or sexo == "m":
    print("Masculino")
else:
    print("Sexo Inválido")